.optionRow {
    -fx-alignment: center;
    -fx-pref-width: 100%;
    -fx-padding: 20px;
}

.button {
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
    -fx-background-color: white;
    -fx-padding: 20px;
}

.button.disabled {
    -fx-background-color: gray;
    -fx-text-fill: transparent;
}
